.customers {
    display: flex;
    flex-wrap: wrap;
}

.customer {
    background: lightpink;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    width: 300px;
}

.customer_header {
    font-size: medium;
    font-weight: bold;
    padding: 0px 0px 5px 0px;
}

.customer_loyalty {
    font-style: oblique;
    font-size: small;
    padding: 5px 0px 0px 0px;
}